* {
	font-family: "Poppins", sans-serif;
}

body {
	margin: 0;
	padding: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
	border: 0;
	margin: 0;
	font-weight: 0;
	line-height: 0;
}

#h1-div {
	padding: 10px;
	margin: 0;
}

#ul-lista-ordenada {
	display: flex;
	flex-direction: row;
	margin: 0 !important;
	list-style: none;
	padding: 0;
	flex-wrap: wrap;
	overflow: hidden;
	transition: all 0.5s;
}

#nav-menu-responsivo {
	background-color: black;
	padding: 0 20px;
	justify-content: space-between;
}

#h1-menu-titulo {
	padding: 0 10px 10px;
	margin: 2.5px 0 0 0;
}

#logo-menu {
	padding: 2px;
	border: #ffffff solid 0.2px;
}

#h1-menu-titulo,
#p-paragrafo-lista {
	color: #ffffff;
	text-align: center;
	align-items: center;
}

#p-paragrafo-lista {
	align-items: center;
	text-align: center;
	justify-content: center;
	margin-top: 5px;
}

#nav-menu-responsivo {
	display: flex;
	flex-direction: row;
}

#li-lista-ordenada-individual {
	justify-content: center;
	align-items: center;
	padding: 23px 30px 10px;
}

#h1-meu-titulo {
	align-items: center;
	margin: 0;
	padding: 0 20px 0 20px;
}

button {
	background-color: transparent;
	border: none;
	color: #ffffff;
	font-size: 36px !important;
	position: absolute;
	right: 10px;
	top: 10px;
	display: none;
	padding-top: 10px;
}

#li-lista-ordenada-individual:hover,
#h1-div:hover,
button:hover {
	cursor: pointer;
	opacity: 0.8;
	background-color: rgba(252, 247, 247, 0.394);
}

button:focus ~ #ul-lista-ordenada {
	height: 132px;
}

@media (max-width: 700px) {
	#nav-menu-responsivo,
	#ul-lista-ordenada {
		flex-direction: column;
	}

	#ul-lista-ordenada {
		text-align: center !important;
		margin: 0;
		height: 0;
	}

	#nav-menu-responsivo {
		padding: 0 0 0 0;
		align-items: flex-start;
	}

	#h1-div {
		padding-top: 15px !important;
		margin-top: 0px !important;
	}

	#p-paragrafo-lista {
		margin: 0 !important;
	}

	button {
		display: flex;
		top: 0;
		padding: 8px 22px 10px !important;
		border: 0 !important;
	}

	#ul-lista-ordenada,
	#li-lista-ordenada-individual {
		width: 100%;
	}

	#li-lista-ordenada-individual {
		padding: 10px;
	}

	#logo-menu {
		padding: 2px;
		border: #ffffff solid 0.2px;
		margin: 0 !important;
	}
}

/* BODY 
	oneSelection
		Carousel */

.section-container {
	display: block;
	position: static;
	background-position: 45deg #53331d;
	background-image: linear-gradient(
		-90deg,
		transparent,
		#53331d 45%,
		#53331d 50%,
		#53331d 95%
	);
	justify-items: center;
	align-items: center;
}

.carousel-item {
	height: 32vw;
}

#carouselExampleControls {
	background-image: 109g #f5c3b1;
	height: auto;
}

#carousel-div-img-imagem {
	height: 32vw;
}

#texto-carousel {
	margin: 0vw 0vw 5vw 48vw;
}
