/* CSS GLOBAIS */

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

/* HEADERS */

header {
  display: flex;
  flex-wrap: wrap;
  width: 100;
  min-width: 30vw;
  font-family: "poppins", sans-serif;
  background-color: #000;
  align-items: stretch;
  align-content: space-around;
  justify-content: space-around;
  min-height: 16vh;
  border-left: 2rem;
  border: 300vw;
}

div.header-container {
  width: 100%;
  min-width: 20vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 3vw;
  justify-content: space-around;
  padding: 0 700px;
}

div#company-logo-header {
  /* margin-left: 4vw; */
  text-align: unset;
}

nav {
  display: flex;
  width: auto;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  justify-items: center;
  margin-top: 1.5rem;
  width: auto;
}

ul {
  display: flex;
  text-align: center !important;
  justify-items: space-evenly;
  align-items: center;
}

li {
  text-align: center;
  justify-content: space-around;

  color: #fff;
  padding-left: 2vw;
  padding-right: 2vw;
  margin: 0 2vw 0;
}

.header-li-um {
  list-style-type: none;
}

.header-li-dois::marker {
  color: rgb(134, 100, 100);
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #c9552d;
  transform-origin: bottom right;
  transition: transform 0.35s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

img.img-responsive {
  border: 1px #fff solid;
  padding: 0.3em 0.3em 0.3em;
}

img.img-responsive:hover {
  -webkit-transform: scale(1.1);
  transform: scaleX(1) 0.5;
}

/* BODY */

/* Carousel */

.section-container {
    /* width: auto;
    height:45vh; */
  background-color: #f5c3b1;
}

.carousel-inner {
  width: 70vw;
  height: auto;
}

.carousel-caption {

	justify-content: center;
	/* margin: 0 12vmax; */
	border-style: outset;
	color-interpolation-filters: auto;
	font-size: 2.0vh;
	left: 1px;
}

.carousel-caption > h5 {
	font-family: ca Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	/* font-weight: 200; */
	font-weight: bolder;
	font-size: solid;
}

.carousel-caption: hover {
	backface-visibility: hidden;
	border-color: #ffffff;
}

.carousel-caption > p {
	border: black 2px;
	color-interpolation-filters: auto;
	text-decoration: none;
}

.btn-outline-dark {
	border: none;
	max-width: 20vw;
}

.btn-outline-dark:hover {
	color: #000;
	background-color: #fff;
	border: none;
	background-color: none;
}

.carousel-item {
    display: flex;
    width: 100%;
}

.img-responsive {
    height:auto;
}

.carousel-inner {
  height: 50vh;
}

.carousel-inner < #carouselExampleControls <.section-container {
  height: auto;
}