/* CSS GLOBAIS */

* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

/* HEADERS */

header {
	display: flex;
	flex-wrap: wrap;
	width: auto;
	/* min-width: 30vw; */
	background-color: #000;
	align-items: stretch;
	align-content: space-around;
	justify-content: space-evenly;
	min-height: 22vh;
	border-left: 3vw;
	border: 300vw;
	font-size: 16vh;
}

div.header-container {
	width: auto;
	min-width: 10vw;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 3vw;

	font-family: "poppins", sans-serif;
	font-size: 4vh;	
}

nav {
	display: flex;
	/* width: 100%; */
	align-items: center;
	
	justify-items: center;
	margin-top: 1.5rem;
	margin-left: 0;
	border: 0;
	padding: ;
}

ul {
	display: flex;
	justify-items: space-evenly;
	align-items: center;
}

li {
	text-align: center;
	justify-content: space-around;

	color: #fff;
	padding-left: 2.5vw;
	/* padding-right: 2.5vw; */
	margin: 0 3vw 0;
}

.header-li-um {
	list-style-type: none;
	align-items: center;
}

.header-li-dois::marker {
	color: rgb(134, 100, 100);
}

.hover-underline-animation {
	display: inline-block;
	position: relative;
}

.hover-underline-animation:after {
	content: "";
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #c9552d;
	transform-origin: bottom right;
	transition: transform 0.35s ease-out;
}

.hover-underline-animation:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

#company-logo-header {
	border: 1px #fff solid;
	padding: 0.3vw 0.3vw;
}

#company-logo-header:hover {
	-webkit-transform: scale(1.1);
	transform: scaleX(1) 0.5;
}

/* BODY */
/* oneSelection */
/* Carousel */

.section-container {
	display: block;
	background-position: 45deg #000;
	background-image: linear-gradient(-90deg, transparent, #BD502A 45%, #BD502A 50%, #BD502A 95% );
	justify-items: baseline;
	margin-top: 1.5px;
	margin-bottom: 1.5px;
}

.carousel-inner {
	width: auto;
}

/* .carousel-item {
	background-image: 109g #f5c3b1;
} */
z
#carousel-div-img-imagem {
	width: auto;
}
/* twoSelectio