/* CSS GLOBAIS */

* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

ul,
li,
.h6 {
	margin: 0 !important;
	padding: 0 !important;
	outline: 0;
	box-sizing: border-box;
}

/* HEADERS */

header {
	position: fixed;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	background-color: #000;
	align-items: stretch;
	align-content: space-around;
	justify-content: space-evenly;
	min-height: 12vh;
	z-index: 9;
}

div.header-container {
	display: flex;
	top: 2.5vh;
	width: auto;
	min-width: 10vw;
	justify-content: space-evenly;
	align-items: center;
	height: 3vw;
	text-align: center;
	font-family: "poppins", sans-serif;
	column-gap: 5vw;
	background: #000;
}

nav {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-around;
	justify-items: center;
}

.header-navemotherfucker {
	justify-content: center;
	justify-items: center;
}

ul.oneList {
	display: flex;
	justify-items: auto;
	justify-content: space-around;
	column-gap: 6vw;
}

li#list-header-menu {
	text-align: center;
	justify-content: space-around;
	color: #fff;
	outline: none;
	box-sizing: none;
	margin: none !important;
	padding: none !important;
	list-style-type: none;
}

#header-menu-p {
	font-size: 2.2vh;
}

.hover-underline-animation {
	display: inline-block;
	position: relative;
}

.hover-underline-animation:after {
	content: "";
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #c9552d;
	transform-origin: bottom right;
	transition: transform 0.35s ease-out;
}

.hover-underline-animation:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.intrometido-header {
	width: 25%;
	height: 5vh;
	content: url(img/company-logo.png);
	border: 0.02em #fff solid;
	padding: 0.3vw 0.3vw;
}

.intrometido-header:hover {
	-webkit-transform: scale(1.1);
	transform: scaleX(1) 0.5;
}

/* BODY 
	oneSelection
		Carousel */

.section-container {
	display: block;
	position: static;
	background-position: 45deg #53331d;
	background-image: linear-gradient(
		-90deg,
		transparent,
		#53331d 45%,
		#53331d 50%,
		#53331d 95%
	);
	justify-items: center;
	align-items: center;
}

.carousel-item {
	height: 32vw;
}

#carouselExampleControls {
	background-image: 109g #f5c3b1;
	height: auto;
}

#carousel-div-img-imagem {
	height: 32vw;
}

#texto-carousel {
	margin: 0vw 0vw 6vw 48vw;
}

.row {
	margin-right: 0;
	-bs-gutter-x: 0;
	border: 0;
}
