/* CSS GLOBAIS */

* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

ul, li, .h6 {
	margin: 0 !important;
	padding: 0 !important;
	outline: 0;
	box-sizing: border-box;
}

/* HEADERS */

header {
	display: flex;
	flex-wrap: wrap;
	width: auto;
	background-color: #000;
	align-items: stretch;
	align-content: space-around;
	justify-content: space-evenly;
	min-height: 12vh;
}

div.header-container {
	display: flex;
	width: auto;
	min-width: 10vw;
	justify-content: space-evenly;
	align-items: center;
	height: 3vw;
	text-align: center;
	font-family: "poppins", sans-serif;	
	column-gap: 5vw;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-around;
	justify-items: center;
}

.header-navemotherfucker{
	justify-content: center;
	justify-items: center;
}

ul.oneList{
	display: flex;
	justify-items: auto;
	justify-content: space-around;
	column-gap: 6vw;
}

li#list-header-menu {
	text-align: center;
	justify-content: space-around;
	color: #fff;
	outline: none;
    box-sizing: none; 
    margin: none !important; 
    padding: none !important;
	list-style-type: none;
}

#header-menu-p {
	font-size: 2.2vh;

}

.hover-underline-animation {
	display: inline-block;
	position: relative;
}

.hover-underline-animation:after {
	content: "";
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #c9552d;
	transform-origin: bottom right;
	transition: transform 0.35s ease-out;
}

.hover-underline-animation:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

#company-logo-header {
	width: 10vw;
	content: url(img/company-logo.png);
	border: 1px #fff solid;
	padding: 0.3vw 0.3vw;
}

#company-logo-header:hover {
	-webkit-transform: scale(1.1);
	transform: scaleX(1) 0.5;
}

/* BODY */
/* oneSelection */
/* Carousel */

.section-container {
	display: block;
	background-position: 45deg #000;
	background-image: linear-gradient(-90deg, transparent, #BD502A 45%, #BD502A 50%, #BD502A 95% );
	justify-items: baseline;
	margin-top: 1.5px;
	margin-bottom: 1.5px;
}

.carousel-inner {
	width: auto;
}

/* .carousel-item {
	background-image: 109g #f5c3b1;
} */
z
#carousel-div-img-imagem {
	width: auto;
}
/* twoSelectio